<!-- card to display offer -->
<mat-card class="offer-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ offer.name }}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3 *ngIf="offer.id != 0">Active Subscription</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="offer-content-container">
    <div class="offer-content">
      <mat-card-content>
        <!-- offer start and end dates -->
        <div class="offer-dates">
          <div class="offer-start-date">
            <h4>Start Date</h4>
            <p>{{ offer.contractStartDate | date : "dd/MM/yyyy" }}</p>
          </div>
          <div class="offer-end-date">
            <h4>End Date</h4>
            <p>{{ offer.contractEndDate | date : "dd/MM/yyyy" }}</p>
          </div>
        </div>
      </mat-card-content>
    </div>
    <span class="spacer"></span>
    <img
      *ngIf="offer.id != 0"
      class="offer-svg"
      src="../../../../../assets/svg/calendar-check-solid-svgrepo-com.svg"
      alt=""
    />
  </div>
  <mat-card-actions style="justify-content: center">
    <button
      mat-button
      class="view-offer-btn"
      [routerLink]="['/subscription', offer.id]"
      [disabled]="!validOffer"
    >
      View
    </button>
  </mat-card-actions>
</mat-card>
