<app-logout-overlay *ngIf="loggingout"></app-logout-overlay>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer [opened]="!isMobile" [mode]="isMobileDrawerMode">
    <mat-nav-list class="nav-list">
      <!-- logo -->
      <img src="../../../assets/img/logo.png" alt="" class="logo-side-bar" />
      <a
        mat-list-item
        style="margin-top: 14px"
        [routerLink]="['/home']"
        routerLinkActive="routerLinkActive"
      >
        <mat-icon matListIcon class="side-nav-icons">home</mat-icon>
        <h4 matLine class="side-nav-title">Home</h4>
      </a>
      <a style="height: auto">
        <!-- drop down menu for all subscriptions-->
        <mat-expansion-panel
          style="
            width: 100%;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
          "
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header style="padding-left: 14px !important">
            <mat-panel-title>
              <mat-icon matListIcon class="side-nav-icons">device_hub</mat-icon>
              <h4 matLine class="side-nav-title">Subscriptions</h4>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- offer items with router link to do -->
          <mat-progress-bar
            *ngIf="(loadingOffers$ | async)"
            mode="indeterminate"
            [color]="'accent'"
          ></mat-progress-bar>
          <div class="offer-links">
            <app-offer-link
              *ngFor="let link of allOffers$ | async"
              [offer]="link"
              (offerClicked)="drawerOfferLinkClick($event)"
            >
            </app-offer-link>
          </div>
        </mat-expansion-panel>
      </a>
      <a mat-list-item href="" target="_blank" class="hoverme">
        <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i
        ><i></i><i></i><i></i>
        <mat-icon matListIcon class="side-nav-icons">shopping_basket</mat-icon>
        <h4 matLine class="side-nav-title">Offers</h4>
      </a>
      <span class="spacer"></span>
      <a mat-list-item href="" target="_blank">
        <mat-icon matListIcon class="side-nav-icons">settings</mat-icon>
        <h4 matLine class="side-nav-title">Settings</h4>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon matListIcon class="side-nav-icons">exit_to_app</mat-icon>
        <h4 matLine class="side-nav-title">Logout</h4>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Melita</span>
      <!-- Some back magic happened here \/, this element was not responsive to anything i did with view child to investigate further -->
      <!-- <button
        mat-icon-button
        [ngStyle]="{ display: !cointingDown ? 'inline-block' : 'none' }"
        (click)="startCountdown()"
      >
        <mat-icon>refresh</mat-icon>
      </button> -->
      <button #timer class="reftesh-btn" (click)="startCountdown()">
        Refresh
      </button>
      <mat-menu #profileMenu="matMenu" xPosition="before">
        <button mat-menu-item>
          <mat-icon class="logout-icon">face</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon class="logout-icon">settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="logout-icon">exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <span class="spacer"></span>
      <button
        class="profile-btn"
        mat-raised-button
        [matMenuTriggerFor]="profileMenu"
      >
        <!-- big icon -->
        <mat-icon class="profile-icon">account_circle</mat-icon>
        <span>John Doe</span>
      </button>
    </mat-toolbar>

    <div class="not-side-content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
