<!-- Add logo png center of page -->
<div class="form-containor">
  <img id="melita-logo" src="assets/img/logo.png" alt="logo" />
  <!-- Angular material username input & password input stack under each other with padding-->
  <app-username class="login-inputs"></app-username>
  <app-password></app-password>
  <div class="sub-form">
    <!-- remember me and forgot password link -->
    <!-- Create a while remember me chreck box with white text using inline style-->
    <app-remember-me></app-remember-me>
    <a class="forgot-password" href="#">Forgot password?</a>
  </div>
  <app-login-btn style="padding: 20px"></app-login-btn>
</div>
