<!-- Add logo png center of page -->
<div class="form-containor">
  <img id="melita-logo" src="assets/img/logo.png" alt="logo" />
  <!-- Username -->
  <mat-form-field class="login-inputs" style="padding-top: 16px">
    <mat-label>Username</mat-label>
    <input
      [(ngModel)]="username"
      type="email"
      matInput
      placeholder="username"
    />
  </mat-form-field>
  <!-- Password -->
  <mat-form-field class="login-inputs">
    <mat-label>Password</mat-label>
    <!-- change input type based on hide value -->
    <input
      [(ngModel)]="password"
      [type]="hide ? 'password' : 'text'"
      matInput
      placeholder="password"
    />
    <!-- button to make password visable -->
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon style="color: darkgray">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="sub-form">
    <!-- remember me and forgot password link -->
    <mat-checkbox [disableRipple]="true">
      <mat-label style="color: white" (click)="rememberMe = !rememberMe">Remember me</mat-label></mat-checkbox
    >
    <a class="forgot-password" href="#">Forgot password?</a>
  </div>
    <button
      mat-flat-button
      class="center-self color-style"
      (click)="loginBtnPressed()"
    >
    <mat-label class="font-style">Login</mat-label>
  </button>
</div>
