<!-- Add logo png center of page -->
<div class="form-containor">
  <img id="melita-logo" src="assets/img/logo.png" alt="logo" />
  <!-- Username -->
  <mat-form-field class="login-inputs" style="padding-top: 16px">
    <mat-label>Username</mat-label>
    <!-- error message if variable validEmail is true -->  
    <input
      [formControl]="emailFormControl"
      type="email"
      matInput
      placeholder="username"
      required="true"
      [errorStateMatcher]="matcher"
    />
    <mat-error class="error-message" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error class="error-message" *ngIf="emailFormControl.hasError('required')">
      Email is required
    </mat-error>
  </mat-form-field>
  <!-- Password -->
  <mat-form-field class="login-inputs">
    <mat-label>Password</mat-label>
    <mat-error *ngIf="password.length < 6" class="error-message">Password must be at least 6 characters</mat-error>
    <!-- change input type based on hide value -->
    <input
      [(ngModel)]="password"
      [type]="hide ? 'password' : 'text'"
      matInput
      placeholder="password"
      required="true"
    />
    <!-- button to make password visable -->
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon style="color: darkgray">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="sub-form">
    <!-- remember me and forgot password link -->
    <mat-checkbox [disableRipple]="true">
      <mat-label style="color: white" (click)="rememberMe = !rememberMe">Remember me</mat-label></mat-checkbox
    >
    <a class="forgot-password" href="#">Forgot password?</a>
  </div>
    <button
      mat-flat-button
      class="center-self color-style"
      (click)="loginBtnPressed()"
    >
    <mat-label class="font-style">Login</mat-label>
  </button>
