<app-toolbar (refresh)="refreshOffers()">
  <h2 style="font-size: 44px; color: white; margin: 20px 0 !important">
    Offers
  </h2>
  <div style="width: 300px">
    <div *ngIf="loadingContent">
      <ngx-skeleton-loader
        count="3"
        appearance="line"
        animation="progress-dark"
        [theme]="{ height: '40px' }"
      ></ngx-skeleton-loader>
    </div>
    <div *ngIf="!loadingContent">
      <app-offer-card
        *ngFor="let offer of offers"
        [offer]="offer"
      ></app-offer-card>
    </div>
  </div>
</app-toolbar>
