<app-toolbar (refresh)="refreshOffers()">
  <div style="width: 300px">
    <div *ngIf="loadingContent">
      <ngx-skeleton-loader
        count="3"
        appearance="line"
        animation="progress-dark"
        [theme]="{ height: '40px' }"
      ></ngx-skeleton-loader>
    </div>
    <div *ngIf="!loadingContent">
      <app-offer-card
        *ngFor="let offer of offers"
        [offer]="offer"
      ></app-offer-card>
    </div>
  </div>
  <!-- <p>{{ test }}</p> -->
</app-toolbar>
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- Card skeliton while loading -->
