mat-panel-title {
  //align items center
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-nav-icons {
  padding-right: 7px;
  color: #2196f3;
}

.side-nav-title {
  font-size: large;
  font-weight: 400;
  color: #2196f3;
  margin: 0px !important;
}

.sub-icon {
  margin-right: 17px !important;
}

.card-hearer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 45vw !important;
}

//mobile
@media screen and (max-width: 600px) {
  .sub-card {
    width: 95vw !important;
  }
}
