<!-- card to display offer -->
<mat-card class="sub-card">
  <mat-card-header>
    <mat-card-title class="card-hearer">
      <!-- mat icon -->
      <mat-icon class="sub-icon">subscriptions</mat-icon>
      <h2>{{ subscription.name }}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      <h3>Active Subscription</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="offer-content-container">
    <div class="offer-content">
      <mat-card-content> </mat-card-content>
    </div>
    <span class="spacer"></span>
  </div>
</mat-card>
